@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-brand-700: #0e3768;
  --color-brand-600: #114c91;
  --color-brand-500: #1666c2;
  --color-brand-400: #1c7ff2;
  --color-brand-100: #e8f2fc;
  --color-brand-50: #000000;
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-azeret-mono);
  --font-dm-sans: var(--font-dm-sans);
  --font-azeret-mono: var(--font-azeret-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-dm-sans);
  padding: 20px;
  margin: 0;
}
